<?xml version="1.0" encoding="UTF-8"?>
<window>
  <defaultcontrol always="true">9000</defaultcontrol>
  <backgroundcolor>0</backgroundcolor>
  <controls>
    <include>Settings_Art</include>
    <include>Time</include>
	<control type="group" description="Content">
      <include>DialogOpenClose</include>
      <posx>300</posx>
      <posy>240</posy>
      <control type="image">
        <posx>36</posx>
        <posy>54</posy>
        <width>1248</width>
        <height>573</height>
        <texture border="33">dialogs/DialogRightPanel.png</texture>
      </control>
      <control type="image">
        <posx>970</posx>
        <posy>106</posy>
        <width>186</width>
        <height>100</height>
        <texture>settings/XBMCLogo.png</texture>
      </control>
      
      <control type="group">
        <posx>52</posx>
        <posy>120</posy>
        <control type="panel" id="9000">
          <posx>0</posx>
          <posy>0</posy>
          <width>801</width>
          <height>780</height>
          <onright>300</onright>
          <onup>9000</onup>
          <ondown>9000</ondown>
          <pagecontrol>60</pagecontrol>
          <scrolltime tween="sine" easing="inout">280</scrolltime>
          <itemlayout width="801" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>801</width>
              <height>60</height>
              <texture border="3">list/ListNF.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>0</posx>
              <posy>0</posy>
              <width>801</width>
              <height>60</height>
              <textoffsetx>30</textoffsetx>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </itemlayout>
          <focusedlayout width="801" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>801</width>
              <height>60</height>
              <texture border="2">common/ButtonFO.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>0</posx>
              <posy>0</posy>
              <width>801</width>
              <height>60</height>
              <textoffsetx>30</textoffsetx>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </focusedlayout>
          <content>
            <item id="0" description="Appearance">
              <label>480</label>
              <onclick>activatewindow(AppearanceSettings)</onclick>
            </item>
            <!--<item id="2" description="Media Sources">
            <label>20094</label>
            <onclick>activatewindow(1115)</onclick>
	      </item>-->
            <item id="3" description="Videos">
              <label>3</label>
              <onclick>activatewindow(VideosSettings)</onclick>
            </item>
            <item id="4" description="Music">
              <label>2</label>
              <onclick>activatewindow(MusicSettings)</onclick>
            </item>
            <item id="5" description="Pictures">
              <label>1</label>
              <onclick>activatewindow(PicturesSettings)</onclick>
            </item>
            <!--<item id="6" description="Addons">
            <label>24001</label>
            <onclick>activatewindow(AddonBrowser,root)</onclick>
	      </item>-->
            <item id="8" description="Weather">
              <label>8</label>
              <onclick>activatewindow(WeatherSettings)</onclick>
            </item>
            <item id="8" description="Service">
              <label>14036</label>
            <onclick>activatewindow(ServiceSettings)</onclick>
            </item>
            <item id="9" description="System">
              <label>13000</label>
              <onclick>activatewindow(SystemSettings)</onclick>
            </item>
			<item id="10" description="PVR">
            <label>PVR</label>
            <onclick>activateWindow(PVRSettings)</onclick>
          </item>
            <!--<item id="10" description="Profiles">
            <label>13200</label>
            <onclick>ActivateWindow(Profiles)</onclick>
	      </item>
          <item id="11" description="File manager">
            <label>10003</label>
            <onclick>ActivateWindow(filemanager)</onclick>
	          </item>
          <item id="12" description="Sys Info">
            <label>$LOCALIZE[138]</label>
            <onclick>activatewindow(systeminfo)</onclick>
          </item>-->
          </content>
        </control>
      </control>
      <control type="group">
        <posx>856</posx>
        <posy>180</posy>
        <control type="panel" id="300">
          <posx>0</posx>
          <posy>120</posy>
          <width>411</width>
          <height>780</height>
          <onleft>9000</onleft>
          <onup>300</onup>
          <ondown>300</ondown>
          <pagecontrol>60</pagecontrol>
          <scrolltime tween="sine" easing="inout">280</scrolltime>
          <itemlayout width="411" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>411</width>
              <height>60</height>
              <texture border="3">list/ListNF.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>400</posx>
              <posy>0</posy>
              <width>390</width>
              <height>60</height>
              <align>right</align>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </itemlayout>
          <focusedlayout width="411" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>411</width>
              <height>60</height>
              <texture border="2">common/ButtonFO.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>400</posx>
              <posy>0</posy>
              <width>390</width>
              <height>60</height>
              <align>right</align>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </focusedlayout>
          <content>
            <item id="1" description="Skin options">
              <label>166</label>
              <onclick>activatewindow(SkinSettings)</onclick>
            </item>
            <item id="6" description="Addons">
            <label>24001</label>
            <onclick>activatewindow(AddonBrowser,root)</onclick>
	        </item>
            <item id="10" description="Profiles">
              <label>13200</label>
              <onclick>ActivateWindow(Profiles)</onclick>
            </item>
            <item id="11" description="File manager">
              <label>10003</label>
              <onclick>ActivateWindow(filemanager)</onclick>
            </item>
            <item id="12" description="Sys Info">
              <label>$LOCALIZE[138]</label>
              <onclick>activatewindow(systeminfo)</onclick>
            </item>
          </content>
        </control>
      </control>
    </control>
  </controls>
</window>
