<?xml version="1.0" encoding="UTF-8"?>
<window>
  <defaultcontrol always="true">9000</defaultcontrol>
  <backgroundcolor>0</backgroundcolor>
  <controls>
    <include>Settings_Art</include>
    <include>Time</include>
	<control type="image">
      <include>OpenClose</include>
      <posx>36</posx>
      <posy>60</posy>
      <width>1849</width>
      <height>1010</height>
      <texture>dialogs/AddonSettingsBG.png</texture>
    </control>
    <control type="group" description="Content">
      <include>OpenClose</include>
      <control type="image">
        <posx>90</posx>
        <posy>111</posy>
        <width>72</width>
        <height>72</height>
        <texture>settings/Gears.png</texture>
      </control>
	  <control type="label">
        <posx>650</posx>
        <posy>120</posy>
        <width>620</width>
        <height>72</height>
        <align>center</align>
        <label>5</label>
		<font>InfoTitle</font>
		<textcolor>Orange</textcolor>
      </control>
      <!-- 9000 Left panel -->
        <control type="list" id="9000">
          <posx>65</posx>
          <posy>210</posy>
          <width>324</width>
          <height>780</height>
          <onleft>-</onleft>
          <onright>9010</onright>
          <onup>9000</onup>
          <ondown>9000</ondown>
          <pagecontrol>-</pagecontrol>
          <scrolltime>280</scrolltime>
          <itemlayout width="324" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>324</width>
              <height>60</height>
              <texture border="3" flipy="true">list/ListNF.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>10</posx>
              <posy>0</posy>
              <width>301</width>
              <height>60</height>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </itemlayout>
          <focusedlayout width="324" height="60">
            <control type="image" description="fa overlay">
              <animation effect="fade" start="100" end="40" time="100" condition="!Control.HasFocus(9000)">Conditional</animation>
              <posx>0</posx>
              <posy>0</posy>
              <width>324</width>
              <height>60</height>
              <texture border="2">buttons/ButtonFO.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>10</posx>
              <posy>0</posy>
              <width>301</width>
              <height>60</height>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </focusedlayout>
          <content>
            <item id="1">
              <label>13000</label>
              <onclick>-</onclick>
            </item>
            <item id="2">
              <label>24001</label>
              <onclick>-</onclick>
            </item>
			<item id="3">
              <label>31981</label>
              <onclick>-</onclick>
            </item>
          </content>
        </control>
		 <control type="group" id="9010">
      <!--9000 1-->
          <control type="panel" id="9001">
            <visible>Container(9000).HasFocus(1)</visible>
            <posx>390</posx>
            <posy>210</posy>
            <width>1140</width>
            <height>780</height>
            <onleft>9000</onleft>
            <onright>60</onright>
            <onup>9001</onup>
            <ondown>9001</ondown>
            <pagecontrol>-</pagecontrol>
            <scrolltime>280</scrolltime>
            <itemlayout width="1140" height="60">
              <control type="image">
                <posx>0</posx>
                <posy>0</posy>
                <height>60</height>
                <width>1140</width>
                <texture border="3" flipy="true">list/ListNF.png</texture>
              </control>
              <control type="label" description="Label 2">
                <posx>30r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>600</width>
                <font>Label2</font>
                <haspath>true</haspath>
                <align>right</align>
                <scroll>false</scroll>
                <textcolor>Orange</textcolor>
                <label>$INFO[ListItem.Label2]</label>
              </control>
              <control type="label" description="Main Label">
                <posx>30</posx>
                <posy>0</posy>
                <height>60</height>
                <width>930</width>
                <scroll>false</scroll>
                <label>$INFO[ListItem.Label]</label>
              </control>
              <control type="image" description="Icon">
                <visible>!IsEmpty(ListItem.Icon)</visible>
                <posx>81r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>60</width>
                <aspectratio>keep</aspectratio>
                <bordersize>6</bordersize>
                <texture>$INFO[ListItem.Icon]</texture>
              </control>
            </itemlayout>
            <focusedlayout width="1140" height="60">
              <control type="image">
                <posx>0</posx>
                <posy>0</posy>
                <height>60</height>
                <width>1140</width>
                <texture border="2">buttons/ButtonFO.png</texture>
              </control>
              <control type="label" description="Label 2">
                <posx>30r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>600</width>
                <font>Label2</font>
                <haspath>true</haspath>
                <align>right</align>
                <scroll>false</scroll>
                <textcolor>Orange</textcolor>
                <label>$INFO[ListItem.Label2]</label>
              </control>
              <control type="label" description="Main Label">
                <posx>30</posx>
                <posy>0</posy>
                <height>60</height>
                <width>930</width>
                <scroll>false</scroll>
                <label>$INFO[ListItem.Label]</label>
              </control>
              <control type="image" description="Icon">
                <visible>!IsEmpty(ListItem.Icon)</visible>
                <posx>81r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>60</width>
                <bordersize>6</bordersize>
                <aspectratio>keep</aspectratio>
                <texture>$INFO[ListItem.Icon]</texture>
              </control>
            </focusedlayout>
            <content>
            <item id="2" description="Appearance">
              <label>480</label>
              <onclick>activatewindow(AppearanceSettings)</onclick>
            </item>
            <item id="3" description="Videos">
              <label>3</label>
              <onclick>activatewindow(VideosSettings)</onclick>
            </item>
            <item id="4" description="Music">
              <label>2</label>
              <onclick>activatewindow(MusicSettings)</onclick>
            </item>
            <item id="5" description="Pictures">
              <label>1</label>
              <onclick>activatewindow(PicturesSettings)</onclick>
            </item>
            
            <item id="8" description="Service">
              <label>14036</label>
            <onclick>activatewindow(ServiceSettings)</onclick>
            </item>
            <item id="9" description="System">
              <label>13000</label>
              <onclick>activatewindow(SystemSettings)</onclick>
            </item>
			<item id="10" description="Profiles">
              <label>13200</label>
              <onclick>ActivateWindow(Profiles)</onclick>
            </item>
			<item id="11" description="PVR">
            <label>PVR</label>
            <onclick>activateWindow(PVRSettings)</onclick>
          </item>
			<item id="1">
              <label>166</label>
              <onclick>activatewindow(SkinSettings)</onclick>
            </item>
		    </content>
          </control>
	  <!--9000 2-->
          <control type="panel" id="9002">
            <visible>Container(9000).HasFocus(2)</visible>
            <posx>390</posx>
            <posy>210</posy>
            <width>1140</width>
            <height>780</height>
            <onleft>9000</onleft>
            <onright>60</onright>
            <onup>9002</onup>
            <ondown>9002</ondown>
            <pagecontrol>-</pagecontrol>
            <scrolltime>280</scrolltime>
            <itemlayout width="1140" height="60">
              <control type="image">
                <posx>0</posx>
                <posy>0</posy>
                <height>60</height>
                <width>1140</width>
                <texture border="3" flipy="true">list/ListNF.png</texture>
              </control>
              <control type="label" description="Label 2">
                <posx>30r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>600</width>
                <font>Label2</font>
                <haspath>true</haspath>
                <align>right</align>
                <scroll>false</scroll>
                <textcolor>Orange</textcolor>
                <label>$INFO[ListItem.Label2]</label>
              </control>
              <control type="label" description="Main Label">
                <posx>30</posx>
                <posy>0</posy>
                <height>60</height>
                <width>930</width>
                <scroll>false</scroll>
                <label>$INFO[ListItem.Label]</label>
              </control>
              <control type="image" description="Icon">
                <visible>!IsEmpty(ListItem.Icon)</visible>
                <posx>81r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>60</width>
                <aspectratio>keep</aspectratio>
                <bordersize>6</bordersize>
                <texture>$INFO[ListItem.Icon]</texture>
              </control>
            </itemlayout>
            <focusedlayout width="1140" height="60">
              <control type="image">
                <posx>0</posx>
                <posy>0</posy>
                <height>60</height>
                <width>1140</width>
                <texture border="2">buttons/ButtonFO.png</texture>
              </control>
              <control type="label" description="Label 2">
                <posx>30r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>600</width>
                <font>Label2</font>
                <haspath>true</haspath>
                <align>right</align>
                <scroll>false</scroll>
                <textcolor>Orange</textcolor>
                <label>$INFO[ListItem.Label2]</label>
              </control>
              <control type="label" description="Main Label">
                <posx>30</posx>
                <posy>0</posy>
                <height>60</height>
                <width>930</width>
                <scroll>false</scroll>
                <label>$INFO[ListItem.Label]</label>
              </control>
              <control type="image" description="Icon">
                <visible>!IsEmpty(ListItem.Icon)</visible>
                <posx>81r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>60</width>
                <bordersize>6</bordersize>
                <aspectratio>keep</aspectratio>
                <texture>$INFO[ListItem.Icon]</texture>
              </control>
            </focusedlayout>
            <content>
            <!--<item id="1" description="Skin options">
              <label>166</label>
              <onclick>activatewindow(SkinSettings)</onclick>
            </item>-->
            <item id="6" description="Addons">
            <label>10040</label>
            <onclick>activatewindow(AddonBrowser,root)</onclick>
	        </item>
			<item id="8" description="Weather">
              <label>8</label>
              <onclick>activatewindow(WeatherSettings)</onclick>
            </item>
	        </content>
          </control>
	   <!--9000 3-->
          <control type="panel" id="9003">
            <visible>Container(9000).HasFocus(3)</visible>
            <posx>390</posx>
            <posy>210</posy>
            <width>1140</width>
            <height>780</height>
            <onleft>9000</onleft>
            <onright>60</onright>
            <onup>9002</onup>
            <ondown>9002</ondown>
            <pagecontrol>-</pagecontrol>
            <scrolltime>280</scrolltime>
            <itemlayout width="1140" height="60">
              <control type="image">
                <posx>0</posx>
                <posy>0</posy>
                <height>60</height>
                <width>1140</width>
                <texture border="3" flipy="true">list/ListNF.png</texture>
              </control>
              <control type="label" description="Label 2">
                <posx>30r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>600</width>
                <font>Label2</font>
                <haspath>true</haspath>
                <align>right</align>
                <scroll>false</scroll>
                <textcolor>Orange</textcolor>
                <label>$INFO[ListItem.Label2]</label>
              </control>
              <control type="label" description="Main Label">
                <posx>30</posx>
                <posy>0</posy>
                <height>60</height>
                <width>930</width>
                <scroll>false</scroll>
                <label>$INFO[ListItem.Label]</label>
              </control>
              <control type="image" description="Icon">
                <visible>!IsEmpty(ListItem.Icon)</visible>
                <posx>81r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>60</width>
                <aspectratio>keep</aspectratio>
                <bordersize>6</bordersize>
                <texture>$INFO[ListItem.Icon]</texture>
              </control>
            </itemlayout>
            <focusedlayout width="1140" height="60">
              <control type="image">
                <posx>0</posx>
                <posy>0</posy>
                <height>60</height>
                <width>1140</width>
                <texture border="2">buttons/ButtonFO.png</texture>
              </control>
              <control type="label" description="Label 2">
                <posx>30r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>600</width>
                <font>Label2</font>
                <haspath>true</haspath>
                <align>right</align>
                <scroll>false</scroll>
                <textcolor>Orange</textcolor>
                <label>$INFO[ListItem.Label2]</label>
              </control>
              <control type="label" description="Main Label">
                <posx>30</posx>
                <posy>0</posy>
                <height>60</height>
                <width>930</width>
                <scroll>false</scroll>
                <label>$INFO[ListItem.Label]</label>
              </control>
              <control type="image" description="Icon">
                <visible>!IsEmpty(ListItem.Icon)</visible>
                <posx>81r</posx>
                <posy>0</posy>
                <height>60</height>
                <width>60</width>
                <bordersize>6</bordersize>
                <aspectratio>keep</aspectratio>
                <texture>$INFO[ListItem.Icon]</texture>
              </control>
            </focusedlayout>
            <content>
            <item id="11" description="File manager">
              <label>10003</label>
              <onclick>ActivateWindow(filemanager)</onclick>
            </item>
            <item id="12" description="Sys Info">
              <label>$LOCALIZE[138]</label>
              <onclick>activatewindow(systeminfo)</onclick>
            </item>
            </content>
          </control>
		  </control>
    </control>
	
	
	<!--<control type="group" description="Content">
      <include>DialogOpenClose</include>
      <posx>300</posx>
      <posy>240</posy>
      <control type="image">
        <posx>36</posx>
        <posy>54</posy>
        <width>1248</width>
        <height>573</height>
        <texture border="33">dialogs/DialogRightPanel.png</texture>
      </control>
      <control type="image">
        <posx>970</posx>
        <posy>106</posy>
        <width>186</width>
        <height>100</height>
        <texture>settings/XBMCLogo.png</texture>
      </control>
      
      <control type="group">
        <posx>52</posx>
        <posy>120</posy>
        <control type="panel" id="9000">
          <posx>0</posx>
          <posy>0</posy>
          <width>801</width>
          <height>780</height>
          <onright>300</onright>
          <onup>9000</onup>
          <ondown>9000</ondown>
          <pagecontrol>60</pagecontrol>
          <scrolltime tween="sine" easing="inout">280</scrolltime>
          <itemlayout width="801" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>801</width>
              <height>60</height>
              <texture border="3">list/ListNF.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>0</posx>
              <posy>0</posy>
              <width>801</width>
              <height>60</height>
              <textoffsetx>30</textoffsetx>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </itemlayout>
          <focusedlayout width="801" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>801</width>
              <height>60</height>
              <texture border="2">buttons/ButtonFO.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>0</posx>
              <posy>0</posy>
              <width>801</width>
              <height>60</height>
              <textoffsetx>30</textoffsetx>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </focusedlayout>
          <content>
            <item id="0" description="Appearance">
              <label>480</label>
              <onclick>activatewindow(AppearanceSettings)</onclick>
            </item>
            <item id="3" description="Videos">
              <label>3</label>
              <onclick>activatewindow(VideosSettings)</onclick>
            </item>
            <item id="4" description="Music">
              <label>2</label>
              <onclick>activatewindow(MusicSettings)</onclick>
            </item>
            <item id="5" description="Pictures">
              <label>1</label>
              <onclick>activatewindow(PicturesSettings)</onclick>
            </item>
            <item id="8" description="Weather">
              <label>8</label>
              <onclick>activatewindow(WeatherSettings)</onclick>
            </item>
            <item id="8" description="Service">
              <label>14036</label>
            <onclick>activatewindow(ServiceSettings)</onclick>
            </item>
            <item id="9" description="System">
              <label>13000</label>
              <onclick>activatewindow(SystemSettings)</onclick>
            </item>
			<item id="10" description="PVR">
            <label>PVR</label>
            <onclick>activateWindow(PVRSettings)</onclick>
          </item>
          </content>
        </control>
      </control>
      <control type="group">
        <posx>856</posx>
        <posy>180</posy>
        <control type="panel" id="300">
          <posx>0</posx>
          <posy>120</posy>
          <width>411</width>
          <height>780</height>
          <onleft>9000</onleft>
          <onup>300</onup>
          <ondown>300</ondown>
          <pagecontrol>60</pagecontrol>
          <scrolltime tween="sine" easing="inout">280</scrolltime>
          <itemlayout width="411" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>411</width>
              <height>60</height>
              <texture border="3">list/ListNF.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>400</posx>
              <posy>0</posy>
              <width>390</width>
              <height>60</height>
              <align>right</align>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </itemlayout>
          <focusedlayout width="411" height="60">
            <control type="image">
              <posx>0</posx>
              <posy>0</posy>
              <width>411</width>
              <height>60</height>
              <texture border="2">buttons/ButtonFO.png</texture>
            </control>
            <control type="label" description="Main Label">
              <posx>400</posx>
              <posy>0</posy>
              <width>390</width>
              <height>60</height>
              <align>right</align>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </focusedlayout>
          <content>
            <item id="1" description="Skin options">
              <label>166</label>
              <onclick>activatewindow(SkinSettings)</onclick>
            </item>
            <item id="6" description="Addons">
            <label>24001</label>
            <onclick>activatewindow(AddonBrowser,root)</onclick>
	        </item>
            <item id="10" description="Profiles">
              <label>13200</label>
              <onclick>ActivateWindow(Profiles)</onclick>
            </item>
            <item id="11" description="File manager">
              <label>10003</label>
              <onclick>ActivateWindow(filemanager)</onclick>
            </item>
            <item id="12" description="Sys Info">
              <label>$LOCALIZE[138]</label>
              <onclick>activatewindow(systeminfo)</onclick>
            </item>
          </content>
        </control>
      </control>
    </control>-->
  </controls>
</window>
